:root {
    --primary-color: #022506;
    --dark-color: black;
    --secondary-color: #06D001;
    --third-color:#eee01a;
    --fourth-color:#F3FF90;

}

.container{
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1{
    color: white;
    text-align: center;
}
#product-form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    cursor: pointer;

}

.main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

form > div{
    display: flex;
    flex-direction: column;
    
}

form > div > input{
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid gray;
    /* background-color: rgb(100, 248, 14); */
   
}

 form > div > label{
    margin-bottom: 5px;

 }

  form > button {
    padding: 10px;
    font-size: 18px;
    background-color: var(--secondary-color);
    cursor: pointer;
    &:hover{
        background-color: var(--dark-color);
        color: var(--third-color);
    }
    border: none; 
    border-radius: 10px;
}

#save-btn{
    cursor: pointer;
    background-color:var(--primary-color);
   
}

table{
    width: 100%;
    border-collapse: collapse;
}

table , th, td{
    border: 1px solid yellow;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    
}

th, td {
    padding: 10px;
}    
 
td >button:last-child{
    background-color:var(--third-color);
    color:rgb(230, 15, 15);
    border: none;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;  
    &:hover{
        background-color: rgb(236, 161, 21);
    }
}    