@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+PE:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #9BCF53;
    --dark-color: black;
    --secondary-color: #416D19;
    --third-color:yellow;

}
body{
    background-color: var(--primary-color);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
p{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2vh;
    /* padding-top: 5vh; */
}
.logo{
    font-family: 'Playwrite CU', cursive;
    font-size: 1.5em;
    color: var(--dark-color);
    text-align: center;
    font-style: normal;
    font-optical-sizing: auto;
}
.gap-50{
    gap: 50px;
}
.p-50{
    padding: 50px;
}
.wrap{
    flex-wrap: wrap;
}
.navbar a,
.navbar h3 {
    display: inline-block;
    padding: 10px 20px;
    color: var(--third-color);
    text-decoration: none;
    margin: 0 10px; 
    font-size: 20px;   
    border-radius: 10px;
    
}
.bg-dark{
    background-color: var(--secondary-color);
    color: white;
}

.gap-10{
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}
.p-5{
    padding: 5px;
}

.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}

.product-card{
    background-color: var(--primary-color);
    color:var(--third-color);
    /* border: 2px solid var(--secondary-color); */
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0 5px 10px rgba(1,1,1,1);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 200px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
            background-color: var(--secondary-color);
        }


}

.w-300{
    width: 300px;
}

.w-150{
    width: 150px;
}

.h-60{
    height: 60px;
}

.border-bottom{
    border-bottom: 2px solid var(--secondary-color);
}

.add-to-cart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    bottom: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: var(--dark-color);
    }

}

.disabled-button {
    background-color: #ccc;
    cursor: not-allowed;
    color: #777;
}